<div class="container">
    <h1 class="page-header">ng2-datatables</h1>
    <p>Here are examples of how to use ng2-datatables component.</p>

    <p>
        Select data:
        <button type="button" class="btn btn-default">Simple</button>
        <button type="button" class="btn btn-default">Heroes</button>
    </p>

    <h2 class="page-header" >Simple Example:</h2>

    <simple-example></simple-example>

    <h2 class="page-header">Heroes Example:</h2>

    <heores-example></heores-example>

</div>
